{% extends "homepage/base.html" %} {% load staticfiles %} {% block content %} 
<div class="container">
<div class="jumbotron text-center">
    <h2> Transactions in block {{blockId}}</h2>
    <a class = "navbar-right" href = "{% url 'graph' %}"><h3>Network graph</h3></a>
    <a class = "navbar-brand" href = "https://ergoplatform.org/"><h3>About</h3></a>
  </div>
  
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Tx Id</th>
      </tr>
      {% for tx in txlist%}
      <tr>
        <td>{{tx.id}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% endblock %}